<% if @achievements.unlocked %>
  <div id="tally"><%= @achievements.unlocked.length %> of <%= @achievements.all.length %> unlocked 
    <% if @achievements.sparkline_history.sum.nonzero? %>
      (<%= sparkline_tag @achievements.sparkline_history, :type => 'bar', :title => '4 week history', :step => 4, :height => 12, :background_color => '#fff', :below_color => 'black' %>)
    <% end %>
  </div>
  <div id="achievements">
    <% @achievements.unlocked.each do |achievement| %>
      <div class="achievement <%= cycle('achievement1', 'achievement2')%>">
        <%= content_tag(:div, achievement.name, :class => 'name') %>
        <%= content_tag(:div, achievement.description, :class => 'description') %>
        <%= content_tag(:div, achievement.timestamp.strftime("%D"), :class => 'time') if achievement.timestamp %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No unlocked achievements for this game.</p>
<% end %>