<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Steam achievements lookup" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link rel="apple-touch-icon" href="<%= root_path %>apple-touch-icon.png")
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <% if current_user %>
      <b><%= current_user.name %></b>: <%= link_to "Settings", settings_path -%> | 
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", root_path + "auth/twitter" %>
    <% end %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Built by <a href="http://twitter.com/joostschuur">Joost Schuur</a><%= " (dev)" if Rails.env.development? %>.</p>
  </div>
</body>
</html>
